
<div class="bg-gray-900 p-6 flex justify-content-center md:justify-content-end bg-no-repeat bg-cover md:bg-contain" style="background-image: url('assets/demo/images/landing/cta-2.png');">
    <div class="px-5">
        <div class="text-white font-bold text-6xl">Explore Our Story</div>
        <div class="text-blue-200 font-bold text-5xl">15+ Years of E-learning Legacy!</div>
        <div class="mt-3 mb-5 text-gray-200 font-medium line-height-3"> Providing comprehensive online learning solutions</div>
        <button pbutton="" pripple="" label="Get to Know Us" class="p-element p-ripple font-bold px-5 py-3 p-button p-component bg-yellow" (click)="scrollToAnchor('team', 100)">
            <span class="p-button-label">Get to Know Us</span>
            <span class="p-ink"></span>
        </button>
    </div>
</div>

<div class="surface-section-1 py-6 text-center">
    <div class="grid text-800  lg:px-8">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <div class="mb-3 font-bold text-4xl">
                    <span class="text-900">Our Blueprint for Success </span>
                </div>
                <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color text-justify">
                    LCT promises <span class="txt-yellow">'Customer Satisfaction and Value Creation'</span> through the culture of continuous learning and adherence to the highest standards of delivering innovative learning solutions, always!
                </div>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden">
            <div class="flex flex-row gap-0 align-items-center lg:gap-4">
                <div class="mission-custom-box">
                    <div class="p-3 text-center bg-gray-1" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="PenNibStraight">
                                    <path id="Vector" opacity="0" d="M26.4242 16.0861L23.0009 9.15735H9.0009L5.57756 16.0862C5.49633 16.2506 5.46189 16.4342 5.47798 16.6169C5.49407 16.7996 5.56009 16.9743 5.66881 17.122L16.0009 31.1573L26.3329 17.1219C26.4417 16.9743 26.5077 16.7995 26.5238 16.6168C26.5399 16.4341 26.5054 16.2505 26.4242 16.0861ZM16.0009 19.1573C15.5064 19.1573 15.0231 19.0107 14.612 18.736C14.2009 18.4613 13.8804 18.0709 13.6912 17.6141C13.502 17.1572 13.4525 16.6546 13.5489 16.1696C13.6454 15.6847 13.8835 15.2392 14.2331 14.8896C14.5828 14.54 15.0282 14.3018 15.5132 14.2054C15.9981 14.1089 16.5008 14.1584 16.9576 14.3477C17.4144 14.5369 17.8049 14.8573 18.0796 15.2684C18.3543 15.6795 18.5009 16.1629 18.5009 16.6573C18.5009 16.9857 18.4362 17.3107 18.3106 17.6141C18.185 17.9174 18.0008 18.193 17.7687 18.4251C17.5365 18.6573 17.2609 18.8414 16.9576 18.9671C16.6543 19.0927 16.3292 19.1574 16.0009 19.1573Z" fill="#15836F"/>
                                    <path id="Vector_2" d="M16.0005 19.1573L16.0005 31.1573" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path id="Vector_3" d="M16.0005 19.1573C17.3812 19.1573 18.5005 18.0381 18.5005 16.6573C18.5005 15.2766 17.3812 14.1573 16.0005 14.1573C14.6198 14.1573 13.5005 15.2766 13.5005 16.6573C13.5005 18.0381 14.6198 19.1573 16.0005 19.1573Z" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path id="Vector_4" d="M9.00049 9.15735V4.15735C9.00049 3.89213 9.10585 3.63778 9.29338 3.45024C9.48092 3.26271 9.73527 3.15735 10.0005 3.15735H22.0005C22.2657 3.15735 22.5201 3.26271 22.7076 3.45024C22.8951 3.63778 23.0005 3.89213 23.0005 4.15735V9.15735" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path id="Vector_5" d="M9.0009 9.15735L5.57758 16.0862C5.49634 16.2506 5.46189 16.4342 5.47798 16.6169C5.49407 16.7996 5.56008 16.9743 5.6688 17.122L16.0009 31.1573L26.333 17.1219C26.4417 16.9742 26.5077 16.7995 26.5238 16.6168C26.5399 16.4341 26.5054 16.2506 26.4242 16.0861L23.0009 9.15735H9.0009Z" stroke="#15836F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    </svg>
                                    
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Mission</span>
                                <span class="box-sub-text-2 text-left line-height-3">Deliver engaging learning solutions globally by complying to the highest industry standards.</span>
                            </div>   
                        </div>
                    </div>
                    <div class="p-3 text-center bg-gray-1" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                <i class="pi pi-shield" style="font-size: 2rem; color:#15836F;"></i>
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Core Values</span>
                                <span class="box-sub-text-2 text-left line-height-3">We strongly believe in and practice <span class="cursor-pointer text-blue-600 text-lg" (click)="doRightPopup = true;">DO-RITE</span>.</span>
                            </div>    
                        </div>
                    </div>
                    <div class="p-3 text-center bg-gray-1 flex lg:hidden" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                    <i class="pi pi-eye" style="font-size: 2rem; color:#15836F;"></i>
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Vision</span>
                                <span class="box-sub-text-2 text-left line-height-3">Make learning an easier and enjoyable experience for everyone, everywhere by blending human creativity with technical innovations.</span>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="mission-custom-box-2 hidden lg:flex">
                    <div class="p-3 text-center bg-gray-2" style="border-radius: 12px;">
                        <div class="flex flex-column custom-box align-items-start">
                            <div class="small-box">
                                    <i class="pi pi-eye" style="font-size: 2rem; color:#15836F;"></i>
                            </div>
                            
                            <div class="flex flex-column align-items-start gap-2" style="width: 220px;">
                                <span class="box-text">Vision</span>
                                <span class="box-sub-text-2 text-left line-height-3">Make learning an easier and enjoyable experience for everyone, everywhere, by blending human creativity with technical innovations.</span>
                            </div>    
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<p-dialog header="Do-Rite" [(visible)]="doRightPopup" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="doRightPopup = false">
    <div class="flex flex-wrap border-top-1 surface-border justify-content-center pt-4 ng-tns-c15-4">
        <div class="bg-blue-50 flex align-items-center justify-content-center py-3 px-0 w-full md:w-8 border-round">
            <img src="assets/demo/images/landing/do-right.png" alt="do-right" class="w-full">
        </div>
        <span class="text-700 line-height-3 m-0 p-5 w-full md:w-4">
            <div class="text-900 font-bold mb-4">&nbsp;&nbsp;&nbsp;&nbsp;Core Values</div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Dedication</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Optimism</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                
                <div>
                    <div class="text-900 font-medium mb-2">Respect</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Integrity</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Transparency</div>
                </div>
            </div>
            <div class="flex align-items-center mb-4">
                <i class="pi pi-check text-blue-600 mr-3"></i>
                <div>
                    <div class="text-900 font-medium mb-2">Empathy</div>
                </div>
            </div>
        </span>
    </div>
</p-dialog>


<div class="px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Trophy">
                        <path id="Vector" opacity="0.2" d="M12.9922 12.2501V24.3024C12.9922 32.9869 19.9385 40.1853 28.6228 40.2496C30.7011 40.2654 32.762 39.8697 34.6866 39.0852C36.6113 38.3008 38.3616 37.1432 39.8368 35.6792C41.312 34.2151 42.4828 32.4736 43.2818 30.5549C44.0808 28.6363 44.4922 26.5785 44.4922 24.5001V12.2501C44.4922 11.786 44.3078 11.3408 43.9796 11.0127C43.6514 10.6845 43.2063 10.5001 42.7422 10.5001H14.7422C14.2781 10.5001 13.8329 10.6845 13.5048 11.0127C13.1766 11.3408 12.9922 11.786 12.9922 12.2501Z" fill="#15836F"/>
                        <path id="Vector_2" d="M12.9922 12.2501V24.3024C12.9922 32.9869 19.9385 40.1853 28.6228 40.2496C30.7011 40.2654 32.762 39.8697 34.6866 39.0852C36.6113 38.3008 38.3616 37.1432 39.8368 35.6792C41.312 34.2151 42.4828 32.4736 43.2818 30.5549C44.0808 28.6363 44.4922 26.5785 44.4922 24.5001V12.2501C44.4922 11.786 44.3078 11.3408 43.9796 11.0127C43.6514 10.6845 43.2063 10.5001 42.7422 10.5001H14.7422C14.2781 10.5001 13.8329 10.6845 13.5048 11.0127C13.1766 11.3408 12.9922 11.786 12.9922 12.2501Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_3" d="M21.7427 49.0001H35.7427" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M28.7427 40.2501V49.0001" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_5" d="M44.1016 28.0001H46.2419C48.0984 28.0001 49.8789 27.2626 51.1916 25.9498C52.5044 24.6371 53.2419 22.8566 53.2419 21.0001V17.5001C53.2419 17.0359 53.0575 16.5908 52.7293 16.2626C52.4011 15.9344 51.956 15.7501 51.4919 15.7501H44.4919" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_6" d="M13.4218 28.0001H11.2144C9.35784 28.0001 7.57736 27.2626 6.26461 25.9498C4.95185 24.6371 4.21436 22.8566 4.21436 21.0001V17.5001C4.21436 17.0359 4.39873 16.5908 4.72692 16.2626C5.05511 15.9344 5.50023 15.7501 5.96436 15.7501H12.9644" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">50,000+</span>
                        <span class="box-sub-text">Hours of Learning</span>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Users">
                        <path id="Vector" opacity="0.2" d="M19.9922 35C26.2744 35 31.3672 29.9073 31.3672 23.625C31.3672 17.3428 26.2744 12.25 19.9922 12.25C13.7099 12.25 8.61719 17.3428 8.61719 23.625C8.61719 29.9073 13.7099 35 19.9922 35Z" fill="#15836F"/>
                        <path id="Vector_2" d="M19.9922 35C26.2744 35 31.3672 29.9073 31.3672 23.625C31.3672 17.3428 26.2744 12.25 19.9922 12.25C13.7099 12.25 8.61719 17.3428 8.61719 23.625C8.61719 29.9073 13.7099 35 19.9922 35Z" stroke="#15836F" stroke-width="3" stroke-miterlimit="10"/>
                        <path id="Vector_3" d="M34.7388 12.6738C36.3033 12.233 37.9442 12.1326 39.5508 12.3793C41.1574 12.626 42.6925 13.2142 44.0527 14.1042C45.4128 14.9941 46.5665 16.1652 47.436 17.5386C48.3054 18.912 48.8705 20.4557 49.0931 22.0659C49.3156 23.676 49.1906 25.3152 48.7264 26.8729C48.2621 28.4307 47.4695 29.8709 46.4017 31.0965C45.334 32.3221 44.0161 33.3046 42.5367 33.978C41.0572 34.6514 39.4507 34.9999 37.8252 35.0001" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M4.24121 43.1806C6.01775 40.6536 8.37622 38.5912 11.1175 37.1674C13.8588 35.7435 16.9024 35.0002 19.9914 35.0001C23.0804 35 26.1241 35.7431 28.8654 37.1667C31.6068 38.5903 33.9655 40.6526 35.7422 43.1794" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_5" d="M37.8247 35C40.914 34.9978 43.9583 35.74 46.6999 37.1638C49.4415 38.5875 51.7997 40.651 53.5748 43.1794" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">75+</span>
                        <span class="box-sub-text">Team Members</span>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Smiley">
                        <path id="Vector" opacity="0.2" d="M28.7422 49.0001C40.3402 49.0001 49.7422 39.598 49.7422 28.0001C49.7422 16.4021 40.3402 7.00006 28.7422 7.00006C17.1442 7.00006 7.74219 16.4021 7.74219 28.0001C7.74219 39.598 17.1442 49.0001 28.7422 49.0001Z" fill="#15836F"/>
                        <path id="Vector_2" d="M28.7422 49.0001C40.3402 49.0001 49.7422 39.598 49.7422 28.0001C49.7422 16.4021 40.3402 7.00006 28.7422 7.00006C17.1442 7.00006 7.74219 16.4021 7.74219 28.0001C7.74219 39.598 17.1442 49.0001 28.7422 49.0001Z" stroke="#15836F" stroke-width="3" stroke-miterlimit="10"/>
                        <path id="Vector_3" d="M37.8369 33.2493C36.9144 34.8449 35.5884 36.1697 33.9919 37.0908C32.3955 38.0119 30.5848 38.4967 28.7417 38.4967C26.8987 38.4968 25.088 38.0119 23.4915 37.0909C21.8951 36.1698 20.569 34.845 19.6465 33.2494" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M20.1011 23.625C20.1011 23.2022 20.4439 22.8594 20.8667 22.8594C21.2895 22.8594 21.6323 23.2022 21.6323 23.625C21.6323 24.0479 21.2895 24.3907 20.8667 24.3907C20.4439 24.3907 20.1011 24.0479 20.1011 23.625Z" fill="#15836F" stroke="#15836F" stroke-width="3"/>
                        <path id="Vector_5" d="M35.8511 23.625C35.8511 23.2022 36.1939 22.8594 36.6167 22.8594C37.0395 22.8594 37.3823 23.2022 37.3823 23.625C37.3823 24.0479 37.0395 24.3907 36.6167 24.3907C36.1939 24.3907 35.8511 24.0479 35.8511 23.625Z" fill="#15836F" stroke="#15836F" stroke-width="3"/>
                        </g>
                    </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">25+</span>
                        <span class="box-sub-text">Clients</span>
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-row custom-box">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="Briefcase">
                        <path id="Vector" opacity="0.2" d="M28.7424 33.25C21.3701 33.2616 14.1258 31.3235 7.74414 27.6322V45.5C7.74414 45.7299 7.7894 45.9574 7.87735 46.1697C7.96529 46.3821 8.0942 46.575 8.2567 46.7375C8.4192 46.9 8.61212 47.0289 8.82444 47.1168C9.03676 47.2048 9.26433 47.25 9.49414 47.25H47.9941C48.224 47.25 48.4515 47.2048 48.6638 47.1168C48.8762 47.0289 49.0691 46.9 49.2316 46.7375C49.3941 46.575 49.523 46.3821 49.6109 46.1697C49.6989 45.9574 49.7441 45.7299 49.7441 45.5V27.6302C43.3617 31.3228 36.1161 33.2616 28.7424 33.25V33.25Z" fill="#15836F"/>
                        <path id="Vector_2" d="M47.9941 15.7501H9.49414C8.52764 15.7501 7.74414 16.5336 7.74414 17.5001V45.5001C7.74414 46.4666 8.52764 47.2501 9.49414 47.2501H47.9941C48.9606 47.2501 49.7441 46.4666 49.7441 45.5001V17.5001C49.7441 16.5336 48.9606 15.7501 47.9941 15.7501Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_3" d="M37.4922 15.7501V12.2501C37.4922 11.3218 37.1234 10.4316 36.4671 9.77519C35.8107 9.11881 34.9204 8.75006 33.9922 8.75006H23.4922C22.5639 8.75006 21.6737 9.11881 21.0173 9.77519C20.3609 10.4316 19.9922 11.3218 19.9922 12.2501V15.7501" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_4" d="M49.7435 27.6302C43.361 31.3228 36.1154 33.2617 28.7417 33.2501C21.3693 33.2617 14.1249 31.3235 7.74316 27.6321" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Vector_5" d="M26.1167 26.2501H31.3667" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        </svg>
                    <div class="flex flex-column align-items-start gap-2">
                        <span class="box-text">1500+</span>
                        <span class="box-sub-text">Projects</span>
                    </div>    
                </div>
            </div>
        </div>
    </div>
   
</div>





<section class="surface-section-2 px-4 py-8 md:px-6 lg:px-8" id="team">
    <h3 class="text-center text-900 font-bold text-5xl team-heading">Meet The Team</h3>
    <p class="text-600 text-xl mt-3 mb-3 line-height-3 text-center">Our team is where creativity meets expertise and innovation thrives. We are a diverse group of individuals with unique skills and backgrounds, brought together by a shared passion for pushing boundaries and making a difference. Know the brilliant minds behind our collective vision for shaping the future!</p>
<div class="grid">
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/ravi.png" class="mb-4 mt-4">
        <div class="text-xl text-900 font-medium mb-3">Ravi Kumar Konakere</div>
        <div class="text-blue-600 text-xl mb-3">Co-Founder & CEO</div>
        <div class="inline-flex align-items-center">
            <a class="text-600 cursor-pointer" href="https://www.linkedin.com/in/ravikumar-konakere-64377911">
                <i class="pi pi-linkedin text-xl"></i>
            </a>
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/archna.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Archna K</div>
        <div class="text-blue-600 text-xl mb-3">Head of Operations</div>
        <div class="inline-flex align-items-center">
            
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/dipali.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Dipali G</div>
        <div class="text-blue-600 text-xl mb-3">E-Learning & ILT</div>
        <div class="inline-flex align-items-center">
           
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/avatar.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Sowmya A</div>
        <div class="text-blue-600 text-xl mb-3">K12, Graduate & Post Graduate Content</div>
        <div class="inline-flex align-items-center">
            
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-5">
        <img src="assets/demo/images/avatar/misha.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Misha S</div>
        <div class="text-blue-600 text-xl mb-3">Human Resource</div>
        <div class="inline-flex align-items-center">
           
        </div>
    </div>
    <div class="col-12 md:col-4 text-center mb-0 md:mb-5">
        <img src="assets/demo/images/avatar/pankaja.PNG" width="150" height="140" class="mb-3">
        <div class="text-xl text-900 font-medium mb-3">Pankaja D</div>
        <div class="text-blue-600 text-xl mb-3">Senior Project Manager</div>
        <div class="inline-flex align-items-center">
           
        </div>
    </div>
</div>    
</section>

