<div class="surface-section px-4 py-8 md:px-6 lg:px-8 background-tint" style="background-image: url('assets/demo/images/landing/contact-us-banner.png'); background-size: cover;">
    <div class="flex flex-column lg:flex-row align-items-center justify-content-between">
        <div class="text-center lg:text-left lg:pr-8 z-2">
            <div class="text-blue-200 font-medium mb-1 text-xl z-2">Take the Next Step</div>
            <div class="text-900 font-bold text-5xl mb-5 text-white">Secure your 15-minute consultation with us today!</div>
            <button pButton pRipple label="Get Started" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="scrollToAnchor('contact-form', 100)"></button>
        </div>
    </div>
</div>
<div class="surface-section map-ht px-4 py-2 md:px-6 lg:px-8" style="background-image: url('assets/demo/images/landing/map.png'); background-size: cover;border: 16px solid #C8DFDC;"></div>

<div class="grid grid-nogutter pt-8 pl-4 pr-4" id="contact-form">
    <div class="grid">
        <div class="col-12 md:col-6">
        <form *ngIf="enquireForm" [formGroup]="enquireForm" (ngSubmit)="submitForm()">
            <div class="p-fluid formgrid grid px-4 md:px-6 lg:px-4">
                <div class="field col-12 lg:col-6 mb-4">
                    <input type="text" pInputText placeholder="First Name" [formControl]="firstName"/>
                    <small *ngIf="enquireForm.controls.firstName.status === 'INVALID' && enquireForm.controls.firstName.dirty">First Name Required</small>
                </div>
                <div class="field col-12 lg:col-6 mb-4">
                    <input type="text" pInputText placeholder="Last Name" [formControl]="lastName"/>
                    <small *ngIf="enquireForm.controls.lastName.status === 'INVALID' && enquireForm.controls.lastName.dirty">Last Name Required</small>
                </div>
                <div class="field col-12 mb-4">
                    <input type="text" pInputText placeholder="Email" [formControl]="email"/>
                    <small *ngIf="enquireForm.controls.email.status === 'INVALID' && enquireForm.controls.email.dirty">Please enter a valid email</small>
                </div>
                <div class="field col-12 mb-4">
                    <p-inputMask mask="9999999999" placeholder="Phone Number" [formControl]="phoneNumber"></p-inputMask>
                    <small *ngIf="enquireForm.controls.phoneNumber.status === 'INVALID' && enquireForm.controls.phoneNumber.dirty">Phone Number Required</small>
                </div>
                <div class="field col-12 mb-4">
                    <textarea pKeyFilter="int" rows="5" cols="30" pInputTextarea placeholder="Message" [formControl]="message"></textarea>
                </div>
               
                <div class="col-12">
                    <button pbutton="" pripple="" [disabled]="!enquireForm.dirty || enquireForm.status === 'INVALID' || disableForm" label="Send Message" icon="pi pi-send" class="p-element p-ripple w-auto p-button p-component" style="background-color: rgb(56,84,154) !important; color: white !important">
                        <span class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span>
                        <span class="p-button-label">Send Message</span>
                        <span class="p-ink"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <p-toast position="bottom-center"></p-toast>
    <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom" style="background-image: url('assets/demo/images/landing/contact-1.png');">
        <div class="text-900 text-2xl font-medium mb-4">Contact Us</div>
        <div class="text-700 line-height-3 mb-4">Our experts have the skills and experience to help you succeed. We have worked with diverse clients, ranging from Fortune 500 companies to small businesses. This makes us confident to help you achieve your project goals. </div>
        <a class="inline-flex align-items-center text-blue-600 font-bold no-underline cursor-pointer" href="https://www.google.com/maps/place/Radha+Building,+485,+5th+Cross+Rd,+Malleshwara,+Bengaluru,+Karnataka+560003,+India/@12.996643,77.5667006,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae1624e6bb4e79:0x9211c7d61f9f7823!8m2!3d12.996643!4d77.5715715!16s%2Fg%2F11cm0500jz?entry=ttu">
            <span class="mr-3">View Address on Google Maps</span>
            <i class="pi pi-arrow-right"></i>
        </a>
        <ul class="list-none p-0 m-0 mt-6 text-700">
            <li class="flex align-items-center mb-4">
                <i class="pi pi-phone mr-2"></i>
                <span>+91 6377099600</span>
            </li>
            <li class="flex align-items-center mb-4">
                <i class="pi pi-envelope mr-2"></i>
                <span><a class="text-blue-600" href="mailto:info@learningcurvetechnologies.com">{{'info@learningcurvetechnologies.com'}}</a></span>
            </li>
            <li class="flex align-items-center">
                <i class="pi pi-map-marker mr-2"></i>
                <span>No.9, Radha Building,<br/>

                    Malleswaram Circle,<br/>
                    
                    Malleswaram, Bangalore - 560003</span>
            </li>
        </ul>
    </div>
</div>
</div>