<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
                <div class="flex align-items-center justify-content-between"><div>
                    <span class="text-sm text-900 font-bold">SCORM SAMPLE</span>
                    <p class="mt-1 mb-0 text-600 text-lg">Introduction to Cybersecurity Training</p>
                </div>
                <div>
                    <a href="assets/docs/Introduction_to_Cybersecurity_Training/story.html" target="_blank" class="cursor-pointer text-blue-700">View Sample</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <span class="text-sm text-900 font-bold">SCORM SAMPLE</span>
                    <p class="mt-1 mb-0 text-600 text-lg">ABC Induction Program</p>
                </div>
                <div>
                    <a href="assets/docs/ABC_Induction_Program/story.html" target="_blank" class="cursor-pointer text-blue-700">View Sample</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="shadow-2 surface-card p-3" style="border-radius: 12px;">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <span class="text-sm text-900 font-bold">SCORM SAMPLE</span>
                    <p class="mt-1 mb-0 text-600 text-lg">9 BOX</p>
                </div>
                <div>
                    <a href="assets/docs/9_Box/story.html" target="_blank"  class="cursor-pointer text-blue-700">View Sample</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pdf-viewer *ngIf="pdf"></app-pdf-viewer>