.expanded-portion {
    border-top: 1px solid #dfe7ef;
    padding: 8px 4px;
    line-break: auto;
  }

  .custom-white-space {
    white-space: pre;
  }

  .custom-img-position {
    bottom: 0;
  }

  small{
    white-space: nowrap;
    left: 0;
    // position: absolute;
    bottom: -15px;
    font-size: x-small;
    color: #AC2317;
    &.last{
      bottom: 90px;
    }
  }


.bg-green {
    background-color: #00392a !important;
}

.responsive {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }

  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.txt-yellow {
    color: rgb(56,84,154) !important;
}

.txt-green {
    color: rgb(64,117,124) !important;
}

.bg-green {
    background-color: rgb(64,117,124) !important;
}

.bg-yellow {
    background-color: rgb(56,84,154) !important;
}

:host ::ng-deep .p-tag.p-tag-success {
    background-color: rgba(200, 223, 220, 0.46) !important;
    color: black
}

.custom-zoom {
    zoom: 75%;
}

.custom-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(var(--eduact-black2-rgb), 0.8);
}

.custom-box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
}

.background-tint { position: relative; }

.background-tint::after {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* Tint color */
  background-color: rgba(0,0,0,.8);
  margin: auto;
}

.home__blob {
    fill: #00392a;
  }
  .home__blob-img {
    width: 360px;
  }

  .home__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
  }

  .cont-box {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    border-radius: 12px;
    // background: #F0F5FF;
    background: #C8DFDC;
    width: 80px;
  }

  .custom-btn-hidden {
    width: 73px;
    height: 73px;
    background: transparent !important;
  }

  .custom-pic {
    width: 12px;
    height: 12px;
    border-radius: 500px;
    // background: var(--Primary-100, #CEE0FA);
    background: #C8DFDC;
  }

  .custom-pic-center {
    width: 32px;
    height: 12px;
    border-radius: 500px;
    // background: #2F55A0;
    background: #15836F;
  }

  .custom-class {
    white-space:pre-wrap
  }

  :host ::ng-deep .custom-height {
    height: 500px !important;
  }

  .sq-btn {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 7px;
    // background: #F0F5FF;
    background: rgba(200, 223, 220, 0.46);
  }

  :host ::ng-deep .p-dataview .p-dataview-content {
    border: 1px solid #dfe7ef;
  }

  :host ::ng-deep .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #15836F !important;
}