
<div class="grid grid-nogutter justify-content-center">
    <!-- <div class="surface-section-1 grid-nogutter">
        
        
    </div> -->
    <div class="w-full relative p-0 overflow-hidden bg-no-repeat bg-cover custom-pos" style="background-image: url('assets/demo/images/landing/hero-5.png');"><div class="text-center my-6 relative"><div class="text-6xl font-bold mb-1 text-white">Transforming Knowledge to </div><div class="text-6xl text-blue-300 font-bold mb-4">Impactful Learning Experiences</div><p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width: 500px;">Ready to elevate your learning experience?</p><div class="flex align-items-center justify-content-center flex-wrap">
        <button type="button" label="Let's Talk" pbutton="" pripple="" class="p-element p-ripple p-3 mt-3 p-button p-component" style="background-color: rgb(56,84,154)" (click)="scrollToAnchor('portfolio', 100)">
        <span class="p-button-label">Learn More</span>
        <span class="p-ink"></span>
    </button></div></div></div>
    <div class="w-full pl-5">
    <p-dialog [header]="dialogHeader" 
    [modal]="true"
    [(visible)]="visibleVideo" 
    [style]="{ width: '800px', height: '800px' , 'background-color': '#eff3f8'}" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    (onHide)="visibleVideo = false"
    >
    <p class="font-italic text-xl custom-color text-center">Click the <b>Info</b> and <b>View</b> buttons to know more.</p>
    <div class="border-round p-4">       
        <div class="grid w-full justify-content-center">
            <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-2" *ngFor="let sample of arr">
                <div class="flex flex-column gap-1 justify-content-between w-full text-center surface-card border-1 border-round border-200 custom-ht">
                    <div class="border-1 border-200 surface-50 flex align-items-center justify-content-center border-round mb-3 mx-auto overflow-hidden" style="width: 121px; height: 120px;">
                        <pdf-viewer class="flex overflow-hidden pointer-events-none flex-column my-auto align-items-center text-center mr-0  md:text-center" *ngIf="sample.type === 'pdf' || sample.type === 'video'" [src]="sample.path"
                            [render-text]="true"
                            [original-size]="false"
                            [show-all]="false" 
                            [page]="1"
                            style="width: 120px; height: 120px; overflow: hidden !important;">
                        </pdf-viewer>
                        <img [style]="sample.name === 'Show Me' || sample.name === 'Motion Graphics'? 'width: 150px; height: 120px': 'width: 120px; height: 120px'" class="flex pointer-events-none flex-column my-auto align-items-center text-center mr-0  md:text-center" *ngIf="sample.type === 'video' || sample.type === 'sample'" [src]="sample.thumbnail"/>
                    </div>
                    
                    <span class="text-600 font-medium">{{sample.name}}</span>
                    <p-overlayPanel #op>
                        <div class="flex flex-column gap-3 w-25rem">
                            <div>
                                <span class="font-medium text-900 font-bold block mb-2">Description</span>
                                <span class="font-medium text-900 block mb-2 text-justify">{{sample.description}}</span>
                            </div>
                        </div>
                    </p-overlayPanel>
                    <div class="flex flex-row gap-2 mt-2 mb-2 justify-content-center">
                        <!-- <p-button label="Info" icon="pi pi-info-circle" severity="secondary" (click)="op.toggle($event)"/> -->
                        <!-- <p-button label="View" severity="secondary" (click)="viewButton(sample.path, sample.name, sample.type, sample.description, sample.catagory)"/> -->
                        <!-- <button pButton pRipple label="Info" icon="pi pi-info-circle" style="background-color: transparent; color: rgb(56,84,154) !important; border: 1px solid rgb(56,84,154) !important;" class="p-button-text p-button border-none font-light line-height-2 text-blue-500 p-2" (click)="op.toggle($event)"></button>-->
                        <button pButton pRipple label="Info" icon="pi pi-info-circle" style="background-color: #64748b !important; color: white !important; border: #64748b !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white p-2 cust-but" (click)="op.toggle($event)"></button>
                        <button pButton pRipple label="View" icon="pi pi-eye" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white p-2 cust-but" (click)="viewButton(sample.path, sample.name, sample.type, sample.description, sample.catagory)"></button> 
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</p-dialog>


    <div class="w-full pl-5">

       
        <p-dropdown class="flex lg:hidden" appendTo="body" [options]="portfolioList" [(ngModel)]="tabNumber" optionLabel="name" optionValue="value"></p-dropdown>
        <p-tabView class="responsive-tab-view ml-2 hidden lg:flex" [(activeIndex)]="tabNumber" [scrollable]="true">
            <p-tabPanel header="E-Learning"></p-tabPanel>
            <p-tabPanel header="ILT"></p-tabPanel>
            <p-tabPanel header="University / Academic"></p-tabPanel>
            <p-tabPanel header="Simulations"></p-tabPanel>
        </p-tabView>
    </div>
    <p class="w-full text-base text-red-600 text-center mt-4 font-bold">**Disclaimer: Samples here showcase our capabilities; however, the IP rights remain with our clients.**</p> 

    <div class="flex p-5 pt-0 flex-wrap w-full lg:flex-nowrap" id="portfolio">
    
<ng-container *ngIf="tabNumber === 0">
    <div class="col-12 xl:col-6" *ngFor="let product of type0">
        <div class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card uniform-size">
            <div class="relative hidden lg:flex md:flex">
                <img [src]="product.path" alt="Image" width="218" height="180" class="border-round w-full h-full">
            </div>
            <div class="relative flex lg:hidden md:hidden">
                <img [src]="product.path" alt="Image" width="50" height="40" class="border-round">
            </div>
            <div class="flex flex-column w-full gap-3">
                <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                    <p class="font-semibold text-lg mt-0 mb-0">{{product.label}}</p>
                    <div class="flex w-full flex-wrap justify-content-start gap-5 xl:h-2rem mt-auto">
                        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.pdf > 0">
                            <i class="pi pi-file-pdf mr-2"></i>
                            <span class="font-medium">{{product.pdf}} pdf(s)</span>
                        </p>
                        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.video > 0">
                            <i class="pi pi-video mr-2"></i>
                            <span class="font-medium">{{product.video}} Video(s)</span>
                        </p>
                        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.scorm > 0">
                            <i class="pi pi-book mr-2"></i>
                            <span class="font-medium">{{product.scorm}} Scorm Package</span>
                        </p>
                    </div>
                    <button pButton pRipple label="View Sample(s)" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="openDialog(product.value)"></button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
    
    <ng-container *ngIf="tabNumber === 1">
        <div class="col-12 xl:col-4" *ngFor="let product of type1">
            <div class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card uniform-size">
                <div class="relative hidden lg:flex md:flex">
                    <img [src]="product.path" alt="Image" width="218" height="180" class="border-round w-full h-full">
                </div>
                <div class="relative flex lg:hidden md:hidden">
                    <img [src]="product.path" alt="Image" width="50" height="40" class="border-round">
                </div>
                <div class="flex flex-column w-full gap-3">
                    <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                        <p class="font-semibold text-lg mt-0 mb-0">{{product.label}}</p>
                        <div class="flex w-full flex-wrap justify-content-start gap-5 xl:h-2rem mt-auto">
                            <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.pdf > 0">
                                <i class="pi pi-file-pdf mr-2"></i>
                                <span class="font-medium">{{product.pdf}} pdf(s)</span>
                            </p>
                            <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.video > 0">
                                <i class="pi pi-video mr-2"></i>
                                <span class="font-medium">{{product.video}} Video(s)</span>
                            </p>
                            <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.scorm > 0">
                                <i class="pi pi-book mr-2"></i>
                                <span class="font-medium">{{product.scorm}} Scorm Package</span>
                            </p>
                        </div>
                        <button pButton pRipple label="View Sample(s)" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="openDialog(product.value)"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
   
    <ng-container *ngIf="tabNumber === 2">
        <div class="col-12 xl:col-12" *ngFor="let product of type2">
            <div class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card uniform-size">
                <div class="relative hidden lg:flex md:flex">
                    <img [src]="product.path" alt="Image" width="218" height="180" class="border-round w-full h-full">
                </div>
                <div class="relative flex lg:hidden md:hidden">
                    <img [src]="product.path" alt="Image" width="50" height="40" class="border-round">
                </div>
                <div class="flex flex-column w-full gap-3">
                    <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                        <p class="font-semibold text-lg mt-0 mb-0">{{product.label}}</p>
                        <div class="flex w-full flex-wrap justify-content-start gap-5 xl:h-2rem mt-auto">
                            <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.pdf > 0">
                                <i class="pi pi-file-pdf mr-2"></i>
                                <span class="font-medium">{{product.pdf}} pdf(s)</span>
                            </p>
                            <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.video > 0">
                                <i class="pi pi-video mr-2"></i>
                                <span class="font-medium">{{product.video}} Video(s)</span>
                            </p>
                            <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.scorm > 0">
                                <i class="pi pi-book mr-2"></i>
                                <span class="font-medium">{{product.scorm}} Scorm Package</span>
                            </p>
                        </div>
                        <button pButton pRipple label="View Sample(s)" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="openDialog(product.value)"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-min-width-2"></div>
    </ng-container>
   <ng-container *ngIf="tabNumber === 3">
    <div class="col-12 xl:col-6" *ngFor="let product of type3">
        <div class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card uniform-size">
            <div class="relative hidden lg:flex md:flex">
                <img [src]="product.path" alt="Image" width="218" height="180" class="border-round w-full h-full">
            </div>
            <div class="relative flex lg:hidden md:hidden">
                <img [src]="product.path" alt="Image" width="50" height="40" class="border-round">
            </div>
            <div class="flex flex-column w-full gap-3">
                <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
                    <p class="font-semibold text-lg mt-0 mb-0">{{product.label}}</p>
                    <div class="flex w-full flex-wrap justify-content-start gap-5 xl:h-2rem mt-auto">
                        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.pdf > 0">
                            <i class="pi pi-file-pdf mr-2"></i>
                            <span class="font-medium">{{product.pdf}} pdf(s)</span>
                        </p>
                        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.video > 0">
                            <i class="pi pi-video mr-2"></i>
                            <span class="font-medium">{{product.video}} Video(s)</span>
                        </p>
                        <p class="text-base flex align-items-center text-900 mt-0 mb-1" *ngIf="product.scorm > 0">
                            <i class="pi pi-book mr-2"></i>
                            <span class="font-medium">{{product.scorm}} Scorm Package</span>
                        </p>
                    </div>
                    <button pButton pRipple label="View Sample(s)" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="openDialog(product.value)"></button>
                </div>
            </div>
        </div>
    </div>
       
   </ng-container>
    
</div>
