
<div class="relative p-2 overflow-hidden bg-no-repeat bg-cover" style="background-image: url('assets/demo/images/landing/hero-3.jpg');">
    <div class="text-center my-6 relative">
        <div class="text-6xl font-bold mb-1 text-white">Create End-to-end Learning Solutions!</div>
        <div class="text-6xl text-blue-400 font-bold mb-4">Learn Create Transform</div>
        <p class="mt-0 mb-3 text-lg line-height-3 text-center mx-auto text-blue-100" style="max-width: 500px;">We help with content creation, graphic development, customized hosting, and deployment services.</p>
        <div class="flex align-items-center justify-content-center flex-wrap">
            <button type="button" label="Let's Talk" pbutton="" pripple="" class="p-element p-ripple p-3 mt-3 p-button p-component" style="background-color: rgb(56,84,154)" (click)="submitOutput.emit()">
                <span class="p-button-label">Let's Talk</span>
                <span class="p-ink"></span>
            </button>
        </div>
    </div>
</div>
       
<div class="surface-section px-4 py-3 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-4xl">
        <span class="text-900">Our Process </span>
    </div>
    <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color">We are dedicated to delivering superior quality consistently, ensuring maximum satisfaction for our customers.</div>
    <div class="grid mt-3">
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                
                <div class="flex flex-column custom-box">
                    <div class="small-box hidden md:flex">
                        <svg class="custom-zoom" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Briefcase">
                            <path id="Vector" opacity="0.2" d="M28.7424 33.25C21.3701 33.2616 14.1258 31.3235 7.74414 27.6322V45.5C7.74414 45.7299 7.7894 45.9574 7.87735 46.1697C7.96529 46.3821 8.0942 46.575 8.2567 46.7375C8.4192 46.9 8.61212 47.0289 8.82444 47.1168C9.03676 47.2048 9.26433 47.25 9.49414 47.25H47.9941C48.224 47.25 48.4515 47.2048 48.6638 47.1168C48.8762 47.0289 49.0691 46.9 49.2316 46.7375C49.3941 46.575 49.523 46.3821 49.6109 46.1697C49.6989 45.9574 49.7441 45.7299 49.7441 45.5V27.6302C43.3617 31.3228 36.1161 33.2616 28.7424 33.25V33.25Z" fill="#15836F"/>
                            <path id="Vector_2" d="M47.9941 15.7501H9.49414C8.52764 15.7501 7.74414 16.5336 7.74414 17.5001V45.5001C7.74414 46.4666 8.52764 47.2501 9.49414 47.2501H47.9941C48.9606 47.2501 49.7441 46.4666 49.7441 45.5001V17.5001C49.7441 16.5336 48.9606 15.7501 47.9941 15.7501Z" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M37.4922 15.7501V12.2501C37.4922 11.3218 37.1234 10.4316 36.4671 9.77519C35.8107 9.11881 34.9204 8.75006 33.9922 8.75006H23.4922C22.5639 8.75006 21.6737 9.11881 21.0173 9.77519C20.3609 10.4316 19.9922 11.3218 19.9922 12.2501V15.7501" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_4" d="M49.7435 27.6302C43.361 31.3228 36.1154 33.2617 28.7417 33.2501C21.3693 33.2617 14.1249 31.3235 7.74316 27.6321" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_5" d="M26.1167 26.2501H31.3667" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </div>
                    <span class="box-header-1">1. Client Briefing</span>
                    <span class="box-header-2">We attentively listen to all your needs and expectations while comprehending your goals, challenges, and aspirations.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-column custom-box">
                    <div class="small-box hidden md:flex">
                        <!-- <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Stack">
                            <path id="Vector" opacity="0.2" d="M5.38672 13.3799L20.3867 22.1299L35.3867 13.3799L20.3867 4.62988L5.38672 13.3799Z" fill="white"/>
                            <path id="Vector_2" d="M5.38672 28.3799L20.3867 37.1299L35.3867 28.3799" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M5.38672 20.8799L20.3867 29.6299L35.3867 20.8799" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_4" d="M5.38672 13.3799L20.3867 22.1299L35.3867 13.3799L20.3867 4.62988L5.38672 13.3799Z" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </svg>                      -->
                            <svg class="custom-zoom-2" xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 0 60 61" fill="none">
                                <path d="M52.5 48.7969H7.5V11.2969" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M52.5005 22.5469L37.5005 35.6719L22.5005 24.4219L7.50049 37.5469" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                         
                    </div>
                    <span class="box-header-1">2. Analysis</span>
                    <span class="box-header-2">We engage in thorough research on your industry, audience, and objectives to pinpoint optimal outcomes for your project.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-column custom-box">
                    <div class="small-box hidden md:flex"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" viewBox="0 0 41 41" fill="none">
                            <path d="M18.9531 25.8799C20.679 25.8799 22.0781 24.4808 22.0781 22.7549C22.0781 21.029 20.679 19.6299 18.9531 19.6299C17.2272 19.6299 15.8281 21.029 15.8281 22.7549C15.8281 24.4808 17.2272 25.8799 18.9531 25.8799Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.8291 35.8804L16.7435 24.9646" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5.8291 35.8804L27.6175 32.249C27.8339 32.213 28.0369 32.1206 28.2063 31.9812C28.3757 31.8418 28.5054 31.6603 28.5824 31.4549L32.0791 22.1304L19.5791 9.63043L10.2546 13.1271C10.0492 13.2042 9.8677 13.3339 9.72832 13.5032C9.58893 13.6726 9.49656 13.8757 9.4605 14.092L5.8291 35.8804Z" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M32.0791 22.1304L36.1952 18.0143C36.3113 17.8982 36.4034 17.7604 36.4662 17.6088C36.529 17.4571 36.5613 17.2946 36.5613 17.1304C36.5613 16.9663 36.529 16.8037 36.4662 16.6521C36.4034 16.5004 36.3113 16.3626 36.1952 16.2465L25.463 5.51431C25.2286 5.27989 24.9106 5.14819 24.5791 5.14819C24.2476 5.14819 23.9296 5.27989 23.6952 5.51431L19.5791 9.63043" opacity="0.2" fill="white"/>
                            <path d="M32.0791 22.1304L36.1952 18.0143C36.3113 17.8982 36.4034 17.7604 36.4662 17.6088C36.529 17.4571 36.5613 17.2946 36.5613 17.1304C36.5613 16.9663 36.529 16.8037 36.4662 16.6521C36.4034 16.5004 36.3113 16.3626 36.1952 16.2465L25.463 5.51431C25.2286 5.27989 24.9106 5.14819 24.5791 5.14819C24.2476 5.14819 23.9296 5.27989 23.6952 5.51431L19.5791 9.63043" stroke="#15836F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <span class="box-header-1">3. Design</span>
                    <span class="box-header-2">We develop compelling and interactive learning materials, employing diverse formats and media, to resonate perfectly with your brand.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-column custom-box">
                    <div class="small-box hidden md:flex">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Code">
                            <path id="Vector" d="M10.8281 14.6299L3.32812 20.8799L10.8281 27.1299" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_2" d="M30.8281 14.6299L38.3281 20.8799L30.8281 27.1299" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M25.8281 7.12988L15.8281 34.6299" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                            
                    </div>
                    <span class="box-header-1">4. Deployment</span>
                    <span class="box-header-2">We distribute learning content to your preferred platform, guaranteeing compatibility, accessibility, and security.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-column custom-box">
                    <div class="small-box hidden md:flex">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="MagnifyingGlass">
                            <path id="Vector" opacity="0.2" d="M18.3662 32.1299C25.6149 32.1299 31.4912 26.2536 31.4912 19.0049C31.4912 11.7561 25.6149 5.87988 18.3662 5.87988C11.1175 5.87988 5.24121 11.7561 5.24121 19.0049C5.24121 26.2536 11.1175 32.1299 18.3662 32.1299Z" fill="white"/>
                            <path id="Vector_2" d="M18.3662 32.1299C25.6149 32.1299 31.4912 26.2536 31.4912 19.0049C31.4912 11.7561 25.6149 5.87988 18.3662 5.87988C11.1175 5.87988 5.24121 11.7561 5.24121 19.0049C5.24121 26.2536 11.1175 32.1299 18.3662 32.1299Z" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M27.6465 28.2861L35.2403 35.88" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </svg>
                            
                    </div>
                    <span class="box-header-1">5. Review</span>
                    <span class="box-header-2">We collect feedback from you and your learners, assessing the impact of the learning content, using a range of tools and metrics.</span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-3">
            <div class="p-3 text-center bg-gray" style="border-radius: 12px;">
                <div class="flex flex-column custom-box">
                    <div class="small-box hidden md:flex">
                        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Package">
                            <path id="Vector" opacity="0.2" d="M6.00122 12.5388C5.88786 12.731 5.82808 12.9502 5.82813 13.1734V28.5863C5.82813 28.8081 5.88714 29.0259 5.99911 29.2174C6.11109 29.4088 6.27199 29.567 6.4653 29.6758L20.2153 37.4101C20.4024 37.5154 20.6134 37.5707 20.8281 37.5707L20.8297 37.5707L20.9764 20.8799L6.00125 12.5388L6.00122 12.5388Z" fill="white"/>
                            <path id="Vector_2" d="M35.8281 28.5863V13.1735C35.8281 12.9517 35.7691 12.7339 35.6571 12.5424C35.5452 12.3509 35.3843 12.1927 35.191 12.084L21.441 4.34962C21.2538 4.24437 21.0428 4.18909 20.8281 4.18909C20.6135 4.18909 20.4024 4.24437 20.2153 4.34962L6.4653 12.084C6.27199 12.1927 6.11109 12.3509 5.99911 12.5424C5.88714 12.7339 5.82813 12.9517 5.82812 13.1735V28.5863C5.82813 28.8081 5.88714 29.0259 5.99911 29.2174C6.11109 29.4089 6.27199 29.5671 6.4653 29.6758L20.2153 37.4102C20.4024 37.5154 20.6135 37.5707 20.8281 37.5707C21.0428 37.5707 21.2538 37.5154 21.441 37.4102L35.191 29.6758C35.3843 29.5671 35.5452 29.4089 35.6571 29.2174C35.7691 29.0259 35.8281 28.8081 35.8281 28.5863Z" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_3" d="M28.4878 24.7097V16.5847L13.3281 8.22363" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_4" d="M35.6555 12.5403L20.9761 20.8799L6.00098 12.5388" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Vector_5" d="M20.9763 20.8799L20.8296 37.5707" stroke="#15836F" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>   
                    </div>
                    <span class="box-header-1">6. Final Delivery</span>
                    <span class="box-header-2">We operate with agility and efficiency, ensuring timely and budget-friendly delivery of your project while maintaining uncompromised quality.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid grid-nogutter surface-section text-800">
    <div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="flex align-items-center"><div>
                <div class="text-xl mb-3" style="color: #15836F !important">EXPERTISE</div>
                <div class="text-900 text-4xl font-bold mb-3">Tailored Pricing: Our Approach</div>
                <div class="text-600 text-xl mt-3 mb-5 line-height-3">Our pricing model is designed to offer flexible options tailored to your needs, ensuring that you receive maximum value and support for your investment in innovative solutions and services.</div>
                <div class="grid">
                    <div class="col-12 md:col-6">
                    <div class="text-900 font-bold mb-2 box-header-1">Fixed Price &nbsp;<span class="circle-bg"><i class="text-yellow-1 font-bold pi pi-wallet"></i></span></div>
                    <div class="text-700 mb-3 line-height-3">We offer fixed pricing per project with ongoing support until completion.</div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="text-900 font-bold mb-2 box-header-1">Time and Cost &nbsp;<span class="circle-bg"><i class="pi pi-clock text-yellow-1 font-bold"></i></span></div>
                    <div class="text-700 mb-3 line-height-3">You are billed for the resources and time dedicated to your project.</div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="text-900 font-bold mb-2 box-header-1">Dedicated Team &nbsp;<span class="circle-bg"><i class="text-yellow-1 font-bold pi pi-users"></i></span></div>
                    <div class="text-700 mb-3 line-height-3">You are charged based on the agreed rate per resource and the time invested.</div>
                </div>
            
            </div>
        </div>    
       
    </div>
</div>
<div class="flex col-12 md:col-6 align-items-end">
    <img src="assets/demo/images/landing/Photo.png" alt="Image" height="560" class="w-full">
</div>
</div>
</div>

<div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-4xl">
        <span class="text-900">Our journey from </span>
        <span class="txt-yellow">creative expressions to engaging reality…</span>
    </div>
    <div class="text-600 text-xl mt-3 mb-5 line-height-3 custom-blue-color">Embark on a voyage where creative ideas, artistic expressions, and precise execution bring imagination to life</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <!-- <i class="pi pi-file-o text-4xl txt-yellow"></i> -->
                <svg class="custom-zoom-1" xmlns="http://www.w3.org/2000/svg" width="60" height="61" viewBox="0 0 60 61" fill="none">
                    <path d="M7.5 50.6719V13.1719C7.5 12.6746 7.69754 12.1977 8.04918 11.8461C8.40081 11.4944 8.87772 11.2969 9.375 11.2969H50.625C51.1223 11.2969 51.5992 11.4944 51.9508 11.8461C52.3025 12.1977 52.5 12.6746 52.5 13.1719V50.6719L45 46.9219L37.5 50.6719L30 46.9219L22.5 50.6719L15 46.9219L7.5 50.6719Z" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.75 26.2969H45" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M33.75 33.7969H45" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.25 22.5469H15V37.5469H26.25V22.5469Z" stroke="#15836F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Content Development</div>
            <span class="text-700 line-height-3">Crafting engaging materials that meet specific client needs, ensuring optimal learning outcomes</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <!-- <i class="pi pi-align-left text-4xl txt-yellow"></i> -->
                <svg fill="#15836F" width="30px" height="28px" viewBox="-1 0 19 17" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><path d="M16.141 7.905c.24.102.24.269 0 .37l-7.204 3.058a1.288 1.288 0 0 1-.874 0L.859 8.276c-.24-.102-.24-.27 0-.371l7.204-3.058a1.287 1.287 0 0 1 .874 0zm-6.833 4.303 3.983-1.69v2.081c0 1.394-2.145 2.524-4.791 2.524s-4.79-1.13-4.79-2.524v-2.082l3.982 1.69a2.226 2.226 0 0 0 1.616 0zm4.94 1.677h1.642v-1.091a.822.822 0 1 0-1.643 0zm.82-3.603a.554.554 0 1 0-.553-.554.554.554 0 0 0 .554.554zm0 1.415a.554.554 0 1 0-.553-.555.554.554 0 0 0 .554.555z"/></svg>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">K-12 and Grad. Content Preparation</div>
            <span class="text-700 line-height-3">Tailoring educational materials to meet diverse curriculum needs and promote better learning outcomes</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-images text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Graphic Creation</div>
            <span class="text-700 line-height-3">Offering tailored graphic creation services that effectively meet customer needs and elevate their learning experiences</span>
        </div>
        
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-book text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Pearson Test of English (PTE)</div>
            <span class="text-700 line-height-3">Providing precise assessment of English language proficiency for diverse educational and professional needs</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-server text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Hosting and Deployment</div>
            <span class="text-700 line-height-3">Ensuring seamless integration and reliable performance in your projects to maximize accessibility and efficiency</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-volume-up text-4xl txt-yellow-1"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Event Campaigns</div>
            <span class="text-700 line-height-3">Adhering to strategic planning and execution to promote and manage events effectively, maximizing engagement and impact</span>
        </div>
    </div>
</div>

<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
        <div class="grid grid-nogutter text-800 justify-content-between">     
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <h2 class="text-900 font-bold text-5xl" style="color: rgb(64,117,124) !important;">Our journey from <span style="color: rgb(56,84,154)">creative expressions to tangible reality </span>thus far ...</h2>
                    <span class="text-600 text-xl mt-3 mb-5 line-height-3">Embark on a voyage where creative ideas, artistic expressions, and precise execution bring imagination to life.</span>
                </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden flex justify-content-center custom-animation">
                <img src="../../../../../../assets/demo/images/landing/about-2-shape-4.png" alt="Profibild"  />
            </div>
        </div>
    
        <div class="grid mt-4">
            <div class="col-12 lg:col-2 p-2">
                <div class="shadow-2 border-round p-4 h-full cs" style="background-color: rgb(64,117,124);">
                    <div class="p-3 text-center" style="border-radius: 12px;">
                        <span class="inline-flex justify-content-center align-items-center border-circle mb-3 p-3">
                            <i class="pi pi-shopping-bag text-6xl text-white"></i>
                        </span>
                        <div class="text-xl font-medium text-white mb-2">Event Campeigns</div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-2 p-2">
                <div class="shadow-2 border-round p-4 h-full cs" style="background-color: rgb(56,84,154)">
                    <div class="p-3 text-center" style="border-radius: 12px;">
                        <span class="inline-flex justify-content-center align-items-center border-circle mb-3 p-3">
                            <i class="pi pi-images text-6xl text-white"></i>
                        </span>
                        <div class="text-xl font-medium text-white mb-2">Graphic Creation</div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-2 p-2">
                <div class="shadow-2 border-round p-4 h-full cs" style="background-color: rgb(64,117,124);">
                    <div class="p-3 text-center" style="border-radius: 12px;">
                        <span class="inline-flex justify-content-center align-items-center border-circle mb-3 p-3">
                            <i class="pi pi-file-o text-6xl text-white"></i>
                        </span>
                        <div class="text-xl font-medium text-white mb-2">Content Development</div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-2 p-2">
                <div class="shadow-2 border-round p-4 h-full cs" style="background-color: rgb(56,84,154)">
                    <div class="p-3 text-center" style="border-radius: 12px;">
                        <span class="inline-flex justify-content-center align-items-center border-circle mb-3 p-3">
                            <i class="pi pi-book text-6xl text-white"></i>
                        </span>
                        <div class="text-xl font-medium text-white mb-2">Pearson Test of English (PTE)</div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-2 p-2">
                <div class="shadow-2 border-round p-4 h-full cs" style="background-color: rgb(64,117,124);">
                    <div class="p-3 text-center" style="border-radius: 12px;">
                        <span class="inline-flex justify-content-center align-items-center border-circle mb-3 p-3">
                            <i class="pi pi-align-left text-6xl text-white"></i>
                        </span>
                        <div class="text-xl font-medium text-white mb-2">K-12 and Grad. Content Prparation</div>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-2 p-2">
                <div class="shadow-2 border-round p-4 h-full cs" style="background-color: rgb(56,84,154)">
                    <div class="p-3 text-center" style="border-radius: 12px;">
                        <span class="inline-flex justify-content-center align-items-center border-circle mb-3 p-3">
                            <i class="pi pi-globe text-6xl text-white"></i>
                        </span>
                        <div class="text-xl font-medium text-white mb-2">Hosting and Deployment</div>
                    </div>
                </div>
            </div>
        </div>
</div> -->
    
<!-- <div id="process" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-6">
        <h2 class="text-900 font-normal mb-2">Our Process</h2>
        <span class="text-600 text-2xl">Delivering the
            best quality to maximise satisfaction!</span>
    </div>
    <ul class="list-none p-0 m-0 flex flex-column md:flex-row">
        <li class="relative mr-0 md:mr-8 flex-auto">
            <div class="border-1 border-blue-500 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-users text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3">
                </i>
                <div>
                    <div class="text-blue-600 font-medium mb-1">Client Briefing</div>
                    <span class="text-600 text-sm hidden md:block"></span>
                </div>
            </div>
            <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px;">
            </div>
        </li>
        <li class="relative mr-0 md:mr-8 flex-auto">
            <div class="border-2 border-blue-500 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-bolt text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"></i>
                <div>
                    <div class="text-blue-600 font-medium mb-1">Analysis</div>
                    <span class="text-600 text-sm hidden md:block"></span>
                </div>
            </div>
            <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px;">
            </div>
        </li>
        <li class="relative mr-0 md:mr-8 flex-auto">
            <div class="border-1 border-blue-500 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-palette text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3">
                </i>
                <div>
                    <div class="text-blue-600 font-medium mb-1">Design</div>
                    <span class="text-600 text-sm hidden md:block"></span>
                </div>
            </div>
            <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px;">
            </div>
        </li>
        <li class="relative mr-0 md:mr-8 flex-auto">
            <div class="border-1 border-blue-500 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-desktop text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3">
                </i>
                <div>
                    <div class="text-blue-600 font-medium mb-1">Development</div>
                    <span class="text-600 text-sm hidden md:block"></span>
                </div>
            </div>
            <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px;">
            </div>
        </li>
        <li class="relative mr-0 md:mr-8 flex-auto">
            <div class="border-1 border-blue-500 border-round p-3 surface-card flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-file-o text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3">
                </i>
                <div>
                    <div class="text-blue-600 font-medium mb-1">Review</div>
                    <span class="text-600 text-sm hidden md:block"></span>
                </div>
            </div>
            <div class="w-full absolute top-50 left-100 surface-300 hidden md:block" style="transform: translateY(-50%); height: 2px;">
            </div>
        </li>
        <li class="relative flex-auto">
            <div class="border-1 border-blue-500 border-round p-3 surface-50 flex flex-column md:flex-row align-items-center z-1">
                <i class="pi pi-briefcase text-blue-600 text-2xl md:text-4xl mb-2 md:mb-0 mr-0 md:mr-3"></i>
                <div>
                    <div class="text-blue-600 font-medium mb-1">Final Delivery</div>
                    <span class="text-600 text-sm hidden md:block"></span>
                </div>
            </div>
        </li>
    </ul>
</div> -->

 <!-- <div id="process-2" class="surface-section px-4 py-4 md:px-6 lg:px-8 text-center" >
            <div>
                <h2 class="text-900 font-normal mb-2">Our journey from <span class="text-blue-600">creative expressions to tangible reality </span>thus far ...</h2>
                <span class="text-600 text-2xl">Embark on a voyage where creative ideas, artistic expressions, and precise execution bring imagination to life.</span>
            </div>
           
            
            <div class="grid mt-8">
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-shopping-bag text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 mb-3 font-medium">Event Campaigns</div>
                </div>
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-images text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 mb-3 font-medium">Graphic Creation</div>
                </div>
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-file-o text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 mb-3 font-medium">Content Development</div>
                </div>
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-book text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 mb-3 font-medium">Pearson Test of English (PTE)</div>
                </div>
                <div class="col-12 md:col-4 mb-4 px-5">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-align-left text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 mb-3 font-medium">K-12 and Grad. Content Prparation</div>
                </div>
                <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
                    <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                        <i class="pi pi-globe text-4xl text-blue-500"></i>
                    </span>
                    <div class="text-900 mb-3 font-medium">Hosting and Deployment</div>
                </div>
            </div>
</div> -->

<!-- <div id="pricing" class="py-4 px-4 lg:px-8 my-2 md:my-4">
            <div class="text-center">
                <h2 class="text-900 font-bold text-5xl" style="color: rgb(64,117,124) !important;">Our Customer Engagement Model</h2>
                <span class="text-600 text-xl mt-3 mb-5 line-height-3">Recognizing the unique nature of each business, we adopt diverse engagement models to suit individual client needs. </span>
            </div>
            <br/>
            <div class="absolute custom-animation-2">
                <img src="../../../../../../assets/demo/images/landing/about-2-shape-3.png" alt="Profibild"  />
            </div>
           <div class="grid justify-content-between md:mt-0">
                <div class="col-12 lg:col-4 p-0 md:p-3">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 transition-all" style="border-radius:10px; border-color: rgb(64,117,124) !important;">
                        <h3 class="text-900 text-center my-5">Fixed Price</h3>
                      
                        <p-divider class="w-full bg-surface-200"></p-divider>
                        <ul class="my-5 list-none p-0 flex text-900 flex-column">
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Enjoy the stability of a fixed price for your project.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Clear upfront agreement ensures budget predictability.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Benefit from comprehensive support from start to completion.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Our commitment extends beyond initial implementation.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-12 lg:col-4 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 transition-all" style="border-radius:10px; border-color: rgb(64,117,124) !important;">
                        <h3 class="text-900 text-center my-5">Time and Cost</h3>
                        
                        <p-divider class="w-full bg-surface-200"></p-divider>
                        <ul class="my-5 list-none p-0 flex text-900 flex-column">
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Pay based on the actual time spent on your project.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Flexibility to adjust resources as project needs evolve.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Efficient resource allocation tailored to project requirements.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Control costs by managing resource utilization effectively.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-12 lg:col-4 p-0 md:p-3 mt-4 md:mt-0">
                    <div class="p-3 flex flex-column border-200 pricing-card cursor-pointer border-2 transition-all" style="border-radius:10px; border-color: rgb(64,117,124) !important;">
                        <h3 class="text-900 text-center my-5">Dedicated Team</h3>
                       
                        <p-divider class="w-full bg-surface-200"></p-divider>
                        <ul class="my-5 list-none p-0 flex text-900 flex-column">
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Clear understanding with an agreed rate per resource.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Efficiently use resources based on project needs.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Pay for the specific skills and expertise required.</span>
                            </li>
                            <li class="py-2">
                                <i class="pi pi-fw pi-check text-xl txt-yellow mr-2"></i>
                                <span class="text-xl line-height-3">Accurate billing reflecting the agreed-upon rate and time spent.</span>
                            </li>
                        </ul>
                    </div>
                    <div class="absolute custom-animation right-0 custom-img">
                        <img src="../../../../../../assets/demo/images/landing/about-shape-1-2.png" alt="Profibild"  />
                    </div>
                </div>
                
           </div> 
           
</div>
  -->
<!-- <div class="surface-ground">
    <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8" style="background-image: url('../../../../../../assets/demo/images/landing/contact-2-copy.jpg');">
            
            <h2 class="text-white text-900 font-normal mb-5">Contact Us</h2>
            <div class="text-gray-300 line-height-3 mb-5 text-xl line-height-3">Our experts have the skills and experience to help you succeed. We have worked with diverse clients, ranging from Fortune 500 companies to small businesses. This makes us confident to help you achieve your project goals. </div>
            <a class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer" href="https://www.google.com/maps/place/Radha+Building,+485,+5th+Cross+Rd,+Malleshwara,+Bengaluru,+Karnataka+560003,+India/@12.996643,77.5667006,17z/data=!3m1!4b1!4m6!3m5!1s0x3bae1624e6bb4e79:0x9211c7d61f9f7823!8m2!3d12.996643!4d77.5715715!16s%2Fg%2F11cm0500jz?entry=ttu">
                <span class="mr-3">View Address on Google Maps</span>
                <i class="pi pi-arrow-right"></i>
            </a>
            <ul class="list-none p-0 m-0 mt-6 text-white">
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-phone mr-2"></i>
                    <span>+91 6377099600</span>
                </li>
                
                <li class="flex align-items-center">
                    <i class="pi pi-inbox mr-2"></i>
                    <a class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer" href="mailto:info@learningcurvetechnologies.com">{{'info@learningcurvetechnologies.com'}}</a>
                    
                </li>
                <br/>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-map-marker mr-2"></i>
                    <span>No.2, Radha Building,<br/>

                        Malleswaram Circle,<br/>
                        
                        Malleswaram, Bangalore - 560003</span>
                </li>
                
            </ul>
        </div>
        <div class="col-12 md:col-6" id="contact">
            <form *ngIf="enquireForm" [formGroup]="enquireForm" (ngSubmit)="submitForm()">
                <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
                    <div class="field col-12 lg:col-6 mb-4">
                        <input type="text" pInputText placeholder="First Name" [formControl]="firstName"/>
                        <small *ngIf="enquireForm.controls.firstName.status === 'INVALID' && enquireForm.controls.firstName.dirty">First Name Required</small>
                    </div>
                    <div class="field col-12 lg:col-6 mb-4">
                        <input type="text" pInputText placeholder="Last Name" [formControl]="lastName"/>
                        <small *ngIf="enquireForm.controls.lastName.status === 'INVALID' && enquireForm.controls.lastName.dirty">Last Name Required</small>
                    </div>
                    <div class="field col-12 mb-4">
                        <input type="text" pInputText placeholder="Email" [formControl]="email"/>
                        <small *ngIf="enquireForm.controls.email.status === 'INVALID' && enquireForm.controls.email.dirty">Please enter a valid email</small>
                    </div>
                    <div class="field col-12 mb-4">
                        <p-inputMask mask="9999999999" placeholder="Phone Number" [formControl]="phoneNumber"></p-inputMask>
                        <small *ngIf="enquireForm.controls.phoneNumber.status === 'INVALID' && enquireForm.controls.phoneNumber.dirty">Phone Number Required</small>
                    </div>
                    <div class="field col-12 mb-4">
                        <textarea pKeyFilter="int" rows="5" cols="30" pInputTextarea placeholder="Message" [formControl]="message"></textarea>
                    </div>
                   
                    <div class="col-12 text-right">
                        <button pButton pRipple label="Submit" style="background-color: #00392a; color: white !important" class="p-button-text p-button border-none font-light line-height-2 text-blue-500" (click)="submitForm()"></button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div> -->
            
       
        
