

  .area{
    background: transparent;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    // height:30vh;
}

.bg-green {
    background-color: rgb(64,117,124) !important;
}

.responsive {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }

  .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.txt-yellow {
    color: rgb(56,84,154) !important;
}

.surface-section-1 {
    background: #F7FAFF;
}

.custom-section {
    display: inline-flex;
    align-items: center;
    gap: 135px;
    height: 6155px;
}

.custom-box {
    display: inline-flex;
    padding: 32px 16px 16px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 12px;
    border: 2px solid var(--Gray-00, #FFF);
    background: var(--Gray-00, #FFF);
    box-shadow: 0px 24px 40px 0px rgba(6, 28, 61, 0.10);
}

.small-box {
    position: absolute;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    border-radius: 12px;
    background: #2F55A0;
    top: -30px;
    left: 15px;
}

.custom-blue-color {
    color: var(--Gray-900, #061C3D);
}

.custom-zoom {
    zoom: 75%;
}

.custom-zoom-1 {
    zoom: 47%;
}

.custom-zoom-2 {
    zoom: 70%;
}

.box-header-1 {
    color: var(--Gray-900, #061C3D);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    letter-spacing: -0.24px;
}

.box-header-2 {
    color: var(--Gray-500, #838E9E);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.header-text {
    color: var(--Gray-900, #061C3D);
text-align: center;
/* Heading/01 */
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: -1.12px;
}

.txt-green {
    color: rgb(64,117,124) !important;
}

.custom-box {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
}

.custom-img {
    zoom: 60%;
    margin-top: -171px;
    margin-right: 56px;
}

.custom-img-2 {
    zoom: 60%;
    margin-top: -80px;
    margin-right: 156px;
}


:host ::ng-deep .p-breadcrumb {
    border: none !important;
    padding: 0;
}

:host ::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    font-weight: 500;
    color: rgb(64,117,124);
    padding-left: 5px;
}

:host ::ng-deep .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon {
    font-weight: 500;
    // color: #d98205;
    color: rgb(56,84,154);
}

.about-two__thumb__two {
    border-radius: 500px;
    max-width: 50%;
    height: auto;
}