<div class="surface-section px-4 py-8 md:px-6 lg:px-8" style="background-image: url('assets/demo/images/landing/overlapping-cards.jpg'); background-size: cover;">
    <div class="flex flex-column lg:flex-row align-items-center justify-content-between">
        <div class="text-center lg:text-left lg:pr-8">
            <div class="text-blue-200 font-medium mb-1 text-xl">Advance Your Journey</div>
            <div class="text-900 font-bold text-5xl mb-5 text-white">With Comprehensive Solutions Tailored to Your Needs!</div>
            <button pButton pRipple label="Learn More" style="background-color: rgb(56,84,154) !important; color: white !important" class="p-button border-none font-light line-height-2 bg-blue-500 text-white" (click)="scrollToAnchor('graphic-development', 100)"></button>
        </div>
    </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="w-full lg:hidden">
        <div class="text-900 font-bold text-3xl mt-2">Learning Content</div>
        <p class="text-600 text-xl mt-3 mb-5 line-height-3 text-justify">Crafting compelling narratives and engaging multimedia to captivate audiences, our content creation process at Learning Curve Technologies brings ideas to life and drives meaningful connections in the digital realm.</p>
    </div>
    <div class="grid justify-content-center flex-column lg:flex-row">
        <div class="col-12 lg:col-6 py-4 lg:pr-4 flex-order-2 lg:flex-order-1">
            <div class="w-full hidden lg:block">
                <div class="text-900 font-bold text-3xl mt-2">Learning Content</div>
                <p class="text-600 text-xl mt-3 mb-5 line-height-3">Crafting compelling narratives and engaging multimedia to captivate audiences, our content creation process brings ideas to life and drives meaningful connections in the digital realm.</p>
            </div>
            <div class="flex px-5 py-2">
                <i class="pi pi-file-o text-4xl font-bold text-900"></i>
                <div class="ml-5">
                    <div class="text-900 font-bold text-xl">Content Strategy and Planning</div>
                    <p class="text-700">Strategizing the roadmap for impactful storytelling and targeted messaging, our content strategy and planning pave the way for resonant digital experiences.</p>
                </div>
            </div>
            <div class="flex px-5 py-2">
                <i class="pi pi-database text-4xl font-bold text-900"></i>
                <div class="ml-5">
                    <div class="text-900 font-bold text-xl">Research and Outline Creation</div>
                    <p class="text-700">In-depth research and meticulous outlining lay the foundation for our content, ensuring relevance and coherence in every piece.</p>
                </div>
            </div>
            <div class="flex px-5 py-2">
                <i class="pi pi-video text-4xl font-bold text-900"></i>
                <div class="ml-5">
                    <div class="text-900 font-bold text-xl">Optimization and Multimedia Creation</div>
                    <p class="text-700">Combining optimization techniques with innovative multimedia creation enhances engagement and visual appeal across our digital channels. </p>
                </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 flex-order-1 lg:flex-order-2">
        <img src="assets/demo/images/landing/content-creation.webp" alt="product" class="border-round w-full">
    </div>
</div>
</div>

<div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8" id="graphic-development">
    <div class="w-full lg:hidden">
        <div class="text-900 font-bold text-3xl mt-2">Graphic Creation</div>
            <p class="text-600 text-xl mt-3 mb-5 line-height-3">Transforming concepts into visually stunning realities, our graphic development process at Learning Curve Technologies embodies creativity and precision.</p>
        </div>
        <div class="grid justify-content-center flex-column lg:flex-row">
            <div class="col-12 lg:col-6">
                <img src="assets/demo/images/landing/graphic-design.jpg" alt="product" class="border-round w-full">
            </div>
            <div class="col-12 lg:col-6 lg:pl-4 py-4">
                <div class="w-full hidden lg:block">
                    <div class="text-900 font-bold text-3xl mt-2">Graphic Creation</div>
                    <p class="text-600 text-xl mt-3 mb-5 line-height-3">Transforming concepts into visually stunning realities, our graphic development process embodies creativity and precision.</p>
                </div>
                <table class="w-full">
                    <tr>
                        <td w-7="" class="text-900 text-xl p-2 font-medium">Conceptualization and Ideation</td>
                        <td class="text-600 p-2">Brainstorm</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-7">Design Creation</td>
                        <td class="text-600 p-2">Craft</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-7">Finalization and Preparation</td>
                        <td class="text-600 p-2">Polish</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-7">Production and Implementation</td>
                        <td class="text-600 p-2">Execute</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-7">Testing and Feedback</td>
                        <td class="text-600 p-2">Validate</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-7">Optimization and Fine-tuning</td>
                        <td class="text-600 p-2">Enhance</td>
                    </tr>
                    <tr>
                        <td class="text-900 text-xl p-2 font-medium w-7">Launch and Post-launch Support</td>
                        <td class="text-600 p-2">Unveil</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 lg:col-6 p-4 flex flex-column">
                <div class="text-900 font-bold text-3xl mt-2">Hosting and Deployment</div>
                <p class="text-600 text-xl mt-3 mb-5 line-height-3 text-justify">Unlock your digital potential with our hosting service, where reliability meets innovation. Experience seamless performance and unparalleled support for your online presence.</p>
                <p-accordion expandicon="pi pi-fw pi-plus" collapseicon="pi pi-fw pi-minus" class="p-element">
                    <div role="tablist" class="p-accordion p-component">
                        <p-accordionTab header="Infrastructure Setup" class="p-element ng-tns-c18-167 ng-star-inserted">
                            <p>1. Procure necessary hardware and software for hosting infrastructure.</p>
                            <p>2. Configure servers and network components for optimal performance and reliability.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Security Implementation" class="p-element ng-tns-c18-168 ng-star-inserted">
                            <p>1. Implement robust security measures to protect clients' websites and data from cyber threats.</p>
                            <p>2. Enable logging and auditing mechanisms to track and record user activities, system events, and security-related incidents for forensic analysis and compliance purposes.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Performance Monitoring" class="p-element ng-tns-c18-169 ng-star-inserted">
                            <p>1. Monitor server performance and uptime to ensure continuous availability of clients' websites.</p>
                            <p>2. Implement proactive measures to address any performance issues or downtime incidents.</p>
                        </p-accordionTab>
                        <p-accordionTab header="Continuous Improvement" class="p-element ng-tns-c18-169 ng-star-inserted">
                            <p>1. Regularly review and update hosting infrastructure and service offerings to meet evolving needs and technology trends.</p>
                            <p>2. Stay informed about industry best practices and emerging technologies to maintain a competitive edge.</p>
                        </p-accordionTab>
                    </div>
                </p-accordion>
            </div>
            <div class="col-12 lg:col-6 p-4">
                <img src="assets/demo/images/landing/staff_img.jpg" alt="product" class="w-full">
            </div>
        </div>
    </div>

    <div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8">
        <div class="w-full lg:hidden">
            <div class="text-900 font-bold text-3xl mt-2">K-12 and Graduate Content</div>
                <p class="text-600 text-xl mt-3 mb-5 line-height-3">We offer a comprehensive range of curriculum development services tailored to meet the diverse needs of students and educators.</p>
            </div>
            <div class="grid justify-content-center flex-column lg:flex-row">
                <div class="col-12 lg:col-6">
                    <img src="assets/demo/images/landing/college-students.jpg" alt="product" class="border-round w-full">
                </div>
                <div class="col-12 lg:col-6 lg:pl-4 py-4">
                    <div class="w-full hidden lg:block">
                        <div class="text-900 font-bold text-3xl mt-2">K-12 and Graduate Content</div>
                        <p class="text-600 text-xl mt-3 mb-5 line-height-3">We offer a comprehensive range of curriculum development services tailored to meet the diverse needs of students and educators.</p>
                    </div>
                    <table class="w-full">
                        <tr>
                            <td w-7="" class="text-900 text-xl p-2 font-medium">
                                <p-chip label="Content Outline"></p-chip>
                            </td>
                            <td w-7="" class="text-900 text-xl p-2 font-medium">
                                <p-chip label="Content Creation"></p-chip>
                            </td>
                            <td w-7="" class="text-900 text-xl p-2 font-medium">
                                <p-chip label="Review and Revision"></p-chip>
                            </td>
                        </tr>
                        <tr>
                            <td w-7="" class="text-900 text-xl p-2 font-medium">
                                <p-chip label="Media Production"></p-chip>
                            </td>
                            <td w-7="" class="text-900 text-xl p-2 font-medium">
                                <p-chip label="Integration and Testing"></p-chip>
                            </td>
                            <td w-7="" class="text-900 text-xl p-2 font-medium">
                                <p-chip label="Quality Assurance"></p-chip>
                            </td>
                        </tr>
                       
                    </table>
                </div>
            </div>
        </div>
        <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
            <div class="grid">
                <div class="col-12 md:col-6 flex align-items-center"><div>
                    <div class="text-blue-600 text-xl mb-3" style="color: #15836F !important">ALL-IN-ONE</div>
                    <div class="text-900 font-bold text-3xl mt-2 mb-6">Event Campaigns</div>
                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Pre-Planning Phase</div>
                            <div class="text-700 mb-3 line-height-3">We offer tailored consulting, innovative concept development, and meticulous planning to ensure your event aligns with your objectives.</div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Marketing Strategy Development</div>
                            <div class="text-700 mb-3 line-height-3">We blend creativity with data-driven insights to ensure your message resonates effectively across diverse channels.</div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Event Preparation</div>
                            <div class="text-700 mb-3 line-height-3">We conduct rehearsals, and coordinates with vendors to ensure every detail is meticulously executed, for a flawless event experience.</div>
                        </div>
                        <div class="col-12 md:col-6">
                            <div class="text-900 font-bold text-xl mb-2">Event Execution</div>
                            <div class="text-700 mb-3 line-height-3">We manage logistics and ensure all aspects of the event run smoothly, leaving attendees with a memorable and impactful experience.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <img src="assets/demo/images/landing/event-campaign.webp" alt="Image" class="border-round w-full">
            </div>
        </div>
    </div>
    <div class="surface-section-1 px-4 py-8 md:px-6 lg:px-8">
        <div class="grid">
            <div class="col-12 md:col-6">
                <img src="assets/demo/images/landing/pte-2.jpeg" alt="Image" class="border-round w-full"></div>
                <div class="col-12 md:col-6 md:pl-6">
                    
                    <div class="text-900 font-bold text-3xl mt-2 mb-3">Pearson Test of English (PTE)</div>
                    <div class="text-600 text-xl mt-3 mb-5 line-height-3">We provide content to ensure language proficiency, empowering individuals to demonstrate their language skills for academic, professional, and immigration purposes.</div>
                    <div class="flex align-items-center mb-4">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div>
                            <div class="text-900 font-medium mb-2">Preparation</div>
                        </div>
                    </div>
                    <div class="flex align-items-center mb-4">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div>
                            <div class="text-900 font-medium mb-2">Test Administration</div>
                        </div>
                    </div>
                    <div class="flex align-items-center mb-4">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div>
                            <div class="text-900 font-medium mb-2">Post-Test Procedures</div>
                        </div>
                    </div>
                    <div class="flex align-items-center">
                        <i class="pi pi-check text-blue-600 mr-3" style="color: #15836F !important"></i>
                        <div><div class="text-900 font-medium mb-2">Score Report Delivery</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="surface-section-2 border-1 border-round surface-border p-5 surface-50 flex flex-column align-items-center">
        <div class="font-medium text-xl mt-5 mb-3">Still Have Questions?</div>
        <button style="background-color: rgb(56,84,154); border-color: rgb(56,84,154); color: white !important" pbutton="" pripple="" label="Contact Us" icon="pi pi-send" class="p-element p-ripple p-button-help p-button p-component" (click)="submitOutput.emit()">
            <span class="p-button-icon p-button-icon-left pi pi-send" aria-hidden="true"></span>
            <span class="p-button-label">Contact Us</span>
            <span class="p-ink"></span>
        </button>
    </div>